
body {
    text-align: center;
    background-color:   cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/wallpaperAlumn.jpg");
    background-size:cover;
}

h1 {
       font-size: 50px;
       margin:0;
       text-align: center;
       color:  	#336699;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #336699;
}

form {
    font-size: 15px;
    display: inline-block;
    background-color:   #336699;
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 15px;
    font-weight:  bold;
    color: black;
}

p{
    color:brown;
}

